includes:
# Many errors that should be fixed
#	- temp/phpstan/vendor/phpstan/phpstan-deprecation-rules/rules.neon
#	- temp/phpstan/vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
	ignoreErrors:
		- '#Call to an undefined method SoapClient::#'
		- '#Method Tp\\Helper\\DataApi::[a-zA-Z]+\(\) should return Tp\\DataApi\\Responses\\[a-zA-Z]+ but returns Tp\\DataApi\\Responses\\Response\.#'
